



@import url(./splitting.css); @import url(./splitting.css);


body {
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}


.hero {
    height: 300vh;
    background: #000 !important;
}

.hero .hero-inner {
    position: sticky;
    top: 0;
    z-index: 1;
}

.hero .hero-inner .hero-sticky {
    min-height: 100vh;
}

#main .hero .hero-img {
    height: 100vh;
}



.hero-main-img {

    --clip: 100%;
    clip-path: circle(var(--clip));
    width: 100%;
    position: absolute;
    z-index: 999;
}

#main .hero .hero-inner .hero-sticky .main-text {
    height: 100%;
    scale: 20;
    width: 100vw;
    visibility: hidden;
    position: absolute;
}

.top-main-text {
    max-width: 300px;
    width: 100%;
    margin: 50px auto 0px;
    text-align: center;
    font-size: 1.6rem;
    position: relative;
    top: 50px;
}

.top-main-text .text-splitting {
    opacity: 0;
}

#main .hero .hero-inner .hero-sticky .main-text .main-text-inner {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#main .main-text .texts {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .main-text .text {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0px 20px;
}

#main .main-text .text p {
    width: max-content;
    margin: 0;
}

#main .main-text .text span img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}


#main .hero .main-text .text-rows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#main section:not(:nth-child(1)) {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#main section .craft {
    display: flex;
    width: 100%;
    padding: 200px 8%;
    justify-content: space-between;
}

#main section .craft .craft-left {
    display: flex;

}

#main section .craft .craft-left h2 {
    max-width: 420px;
    font-size: 36px;
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 10rem;

}

#main section .craft .craft-right {
    margin-right: 150px;
    padding: 290px 0px;
}

#main section .craft .craft-right .right-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    width: 500px;
}

#main section .craft .craft-right .right-inner .right-box {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
    max-width: 420px;
    width: 100%;
    color: #000;
}

#main section .craft .craft-right .right-inner .right-box h3 {
    font-size: 32px;
}

#main section .craft .craft-right .right-inner .right-box p {
    font-size: 20px;
}


#main #talk .horizontal {
    height: 400vh;
}

#main #talk .horizontal .talk-main {
    top: 0;
    position: sticky;
    height: 100vh;
}

#main #talk .horizontal .talk-main .talk-text .container {
    width: 400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

#main #talk .horizontal .talk-main .talk-text .container .panel {
    height: 100vh;
    width: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #000;
}

#main #our-team {
    padding: 8% 0px;
}

#main #our-team .team-inner {
    width: 100%;
    padding: 0px 8%;
}

#main #our-team .team-inner .our-team-title h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 150px;
}

#main #our-team .team-inner .team-row {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0px 30px;
    border-top: 1px solid #000;
    font-size: 44px;
    position: relative;
    color: #000;
}

#main #our-team .team-inner .team-row.one {
    border-top: 0px solid transparent;
}

#main #our-team .team-inner .team-row p {
    position: relative;
    z-index: 999;
}

#main #our-team .team-inner .team-row::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #2544EE;
    display: block;
    position: absolute;
    left: 0;
    transform: scaleY(0);
    transition: .2s ease all;
    z-index: 0;
    animation-fill-mode: forwards;
    transform-origin: top center;
}

#main #our-team .team-inner .team-row:hover::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    z-index: 0;
    transform: scaleY(1);
    transform-origin: top center;
}

#main #our-team .team-inner .team-row:hover p {
    color: #fff;
}

#main #our-team .team-inner .team-row .team-row-left {
    display: flex;
    gap: 20px;
}

#main #our-team .team-inner .team-row .team-row-left .num {
    opacity: .15;
    z-index: 9;
}

#main #our-team .team-inner .team-row .team-img {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: none;
    opacity: 0;
    transition: .2s ease all;
}

#main #our-team .team-inner .team-row .team-img img {
    filter: brightness(100%);
    height: 100px;
    border-radius: 500px;
    scale: 0;
    transition: .2s ease all;
    width: 100px;
}

#main #our-team .team-inner .team-row:hover .team-img {
    visibility: visible;
    opacity: 1;
}

#main #our-team .team-inner .team-row:hover .team-img img {
    scale: 2;
}

.pre-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    --clip: 100%;
    clip-path: circle(var(--clip));
    overflow: hidden;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    scale: 1;
    z-index: 999999;
    background-color: antiquewhite;
}

.pre-loader .pre-loader-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 0%;
}

#circle {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#circle text {
    font-family: 'Helvetica Neue', Arial;
    font-size: 16px;
    font-weight: bold;
}

#circle svg {
    left: 0;
    top: 0;
    width: 100%;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
    }

    to {
        -ms-transform: rotate(0);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(360deg);
    }

    to {
        -o-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@media only screen and (max-width:860px) and (min-width:220px) {
    #main section .craft .craft-right {
        padding: 100px 0px;
    }

    #main section .craft .craft-right .right-inner {
        flex-direction: row;
        width: 100vw;
    }

    #main section .craft {
        flex-wrap: wrap;
    }

}